.b_three-viewer {
  width : 100%;
  height : 80vh;
  cursor: grab;
  position: relative;
}

.b_three-viewer__loader {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;

  &.this--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
  }
}