footer.b_footer
    .container.b_footer__body
        .b_footer__column
            svg(width="161" height="27").b_footer__logo
                use(href="/assets/icons.svg#logo")
        .b_footer__column
            ul.b_footer__list
                li.b_footer__list-item
                    a(href="#" data-locale="projects").b_footer__list-link Проекты
                li.b_footer__list-item
                    a(href="#" data-locale="about").b_footer__list-link О компании
                li.b_footer__list-item
                    a(href="#" data-locale="services").b_footer__list-link Услуги
        .b_footer__column
            ul.b_footer__list
                li.b_footer__list-item
                    a(href="#" data-locale="contacts").b_footer__list-link Контакты
                li.b_footer__list-item
                    a(href="#" data-locale="feedback").b_footer__list-link Обратная связь
                li.b_footer__list-item
                    a(href="#" data-locale="questions").b_footer__list-link Вопросы
        .b_footer__column
            ul.b_footer__list
                li.b_footer__list-item
                    a(href="tel:+73439872356").b_footer__list-link +7 343 987 23 56
                li.b_footer__list-item
                    a(href="mailto:pk1@gmail.com").b_footer__list-link pk1@gmail.com
            ul.b_socials.b_footer__socials
                li.b_socials__item
                    a(href="#").b_socials__link
                        svg(width=13 height=13).b_socials__icon
                            use(href="/assets/icons.svg#inst")
                li.b_socials__item
                    a(href="#").b_socials__link
                        svg(width=14 height=10).b_socials__icon
                            use(href="/assets/icons.svg#youtube")