link(rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon")
link(rel="stylesheet" type="text/css" href="/styles/main.css")
<script src="https://api-maps.yandex.ru/2.1/?apikey=6758de91-681d-4228-9594-ec36541e1e56&lang=ru_RU" type="text/javascript"></script>